@charset "utf-8";

.login{
    width: 510px;
    position: absolute;
    left: 36%;
    top: 60%;
    text-align: center;
}

.login h2{
    padding: 0 0 20px;
    font-size: 32px;
    color: darkslateblue;
    border-bottom: 2px solid dimgray;
    text-align: center;
    line-height: 1;
}

.login ul{
    padding: 40px 0 33px;
}

.login li{
    padding: 0 0 25px;
}

.login li input{
    width: 100%;
    box-sizing: border-box;
    height: 46px;
    text-indent: 16px;
}

.login li input ::-webkit-input-placeholder {font-size:16px; color:gray;}

.login button{
    width: 100%;
    height: 56px;
    background: darkslateblue;
    font-size: 18px;
    color: white;
}