<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/cscntr.css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-ico">
    <meta name="theme-color" content="#ffffff">
    <title>SweetHome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="../js/includeHTML.js"></script>
    <script src="../js/cookieSession.js"></script>
    <script src="../js/manageItem.js"></script>
</head>


<body>
<header>
    <div class="headerLogin">
        <ul>
            <li><a id ="registerBtn" href="register.html">회원가입</a></li>
            <li><a id ="loginBtn" href="login.html">로그인</a></li>
            <li><a id ="logoutBtn" onclick="logout()">로그아웃</a></li>
            <li><a id ="bagBtn" href="mybag.html">장바구니</a></li>
            <li><a id ="profileBtn" href="userProfile.html">내 정보</a></li>
            <li><a id="csBtn" href="CScenter.html">고객센터</a>
                <ul class="csBtn_sub">
                    <li><a href="CScenter.html">문의하기</a></li>
                    <li><a href="CSnotice.html">공지사항</a></li>
                    <li><a href="CSfaq.html">자주묻는질문</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="logo">
        <ul>
            <li><a href="index.html">SWEETHOME</a></li>
        </ul>
    </div>

    <div class="nav_menu">
        <ul>
            <li><a class="nav-menu" href="best_product.html">베스트</a></li>
            <li><a class="nav-menu" href="new_product.html">신상품</a></li>
            <li><a class="nav-menu" href="top_product.html">상의</a></li>
            <li><a class="nav-menu" href="bottom_product.html">하의</a></li>
            <li><a class="nav-menu" href="training_product.html">홈트용품</a></li>
        </ul>
    </div>
</header>

<div id="contents">
    <section id="boardTitle">
        <h3>고객센터</h3>
    </section>
    <div class="boardWrite">
        <div class="title">
            <dl>
                <dt>제목</dt>
                <dd><input type="text" placeholder="제목 입력"value="배송문의"></dd>
            </dl>
        </div>
        <div class="info">
            <dl>
                <dt>작성자</dt>
                <dd><input type="text" placeholder="작성자 입력"value="박지영"></dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd><input type="password" placeholder="비밀번호 입력"value="1234"></dd>
            </dl>
        </div>
        <div class="cont"><textarea placeholder="내용 입력"style="height:300px; width:800px;">
2월 27일에 주문했는데 언제 받을 수 있나요?
2월 27일에 주문했는데 언제 받을 수 있나요?
2월 27일에 주문했는데 언제 받을 수 있나요?
2월 27일에 주문했는데 언제 받을 수 있나요?
        </textarea>
        </div>
    </div>


    <div class="CSButton">
        <a href="CSview.html" class="Btn">수정완료</a>
        <a href="CScenter.html" class="Btn">취소</a>
    </div>

</div>
</div>

<footer>
    <div>
        <span class = "company">회사명 : (주)SWEETHOME</span>
        <span class = "owner">최제현, 서언주, 박지영</span>
        <span class = "addr">오픈소스 웹 소프트웨어</span>
    </div>
</footer>
</body>

<script>
    includeHTML();
    changeLoginBtn();
    setItemDB();
</script>

</html>
