<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/cscntr.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-ico">
    <meta name="theme-color" content="#ffffff">
    <title>SweetHome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="../js/includeHTML.js"></script>
    <script src="../js/cookieSession.js"></script>
    <script src="../js/manageItem.js"></script>
</head>

<body>

<div id="mainContainer">
    <header id="header">
        <div id="headerLogin">
            <ul>
                <li><a class="login-menu" id ="registerBtn" href="register.html">회원가입</a></li>
                <li><a class="login-menu" id ="loginBtn" href="login.html">로그인</a></li>
                <li><a class="login-menu" id ="logoutBtn" onclick="logout()">로그아웃</a></li>
                <li><a class="login-menu" id ="bagBtn" href="mybag.html">장바구니</a></li>
                <li><a class="login-menu" id ="profileBtn" href="userProfile.html">내 정보</a></li>
                <li><a class="login-menu" id="csBtn" href="CScenter.html">고객센터</a>
            </ul>
        </div>
        <div id="logo">
            <h1><a href="index.html">Sweet Home</a></h1>
        </div>
    </header>

    <nav id="nav-menu" include-html="./layout/nav_menu.html"></nav>

    <section id="boardTitle">
        <h3>자주묻는질문</h3>
    </section>
    <div class="boardList">
        <div class="boardTop">
            <div class="num">번호</div>
            <div class="title">제목</div>
            <div class="writer">작성자</div>
            <div class="date">작성일</div>
        </div>
        <div>
            <div class="num">5</div>
            <div class="title">
                <details>
                    <summary>환불은 언제 되나요?</summary>
                    <p>
                        </br>[배송 전 주문 취소로 인한 환불]</br>
                        주문내역의 주문상태가 '취소 완료' 인 경우 결제하신 결제사로 취소 정보가 이관됩니다.</br>
                        해당 결제사를 통한 환불 완료까지의 기일이 소요되며 통상 영업일 기준 약 3~7일 정도 소요됩니다.</br>
                        </br>[교환 및 반품으로 인한 환불]</br>
                        주문내역의 주문상태가 '교환 완료' 또는 '반품 완료' 인 경우 결제하신 결제사로 실제 취소정보가 이관됩니다.</br>
                        해당 결제사를 통한 환불 완료까지의 기일이 소요되며 통상 영업일 기준 약 3~7일 정도 소요됩니다.</br>
                    </p>
                </details>
            </div>
            <div class="writer">관리자</div>
            <div class="date">21-01-01</div>
        </div>
        <div>
            <div class="num">4</div>
            <div class="title">
                <details>
                    <summary>비회원으로도 주문이 가능한가요?</summary>
                    <p>
                        </br>네, 주문 가능합니다.</br>
                        단 주문 시 주문자명, 주문 번호, 비밀번호를 기억해주시길 바랍니다.</br>
                    </p>
                </details>
            </div>
            <div class="writer">관리자</div>
            <div class="date">21-01-01</div>
        </div>
        <div>
            <div class="num">3</div>
            <div class="title">
                <details>
                    <summary>결제했는데 결제대기라고 떠요</summary>
                    <p>
                        </br>무통장입금의 경우 결제 후 반영되기까지 일정 시간이 소요될 수 있습니다.</br>
                    </p>
                </details>
            </div>
            <div class="writer">관리자</div>
            <div class="date">21-01-01</div>
        </div>
        <div>
            <div class="num">2</div>
            <div class="title">
                <details>
                    <summary>합배송이 가능한가요?</summary>
                    <p>
                        </br>저희는 배송을 순차적으로 진행하기 때문에 시스템 자체적으로는 불가합니다.</br>
                        상품 주문 후 고객센터에 글을 남겨주시면 처리해드리겠습니다.</br>
                    </p>
                </details>
            </div>
            <div class="writer">관리자</div>
            <div class="date">21-01-01</div>
        </div>
        <div>
            <div class="num">1</div>
            <div class="title">
                <details>
                    <summary>배송전 취소/변경 가능한가요?</summary>
                    <p>
                        </br>고객센터에 문의글을 남겨주시면 취소/변경 처리가 가능합니다. </br>
                        하지만 주문상태가 '배송 준비 중' 이더라도 이미 운송장 번호가 부여된 경우 요청사항이 거부될 수 있습니다.</br>
                    </p>
                </details>
            </div>
            <div class="writer">관리자</div>
            <div class="date">21-01-01</div>
        </div>
    </div>
    <div>
        <div class="boardPage">
            <a href="#" class="firstBtn"><<</a>
            <a href="#" class="prevBtn"><</a>

            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>

            <a href="#" class="nextBtn">></a>
            <a href="#" class="lastBtn">>></a>
        </div>
    </div>

    <aside id="rightSideBar" include-html="./layout/rightSideBar.html"></aside>
    <footer id="footer" include-html="./layout/footer.html"></footer>
</div>

</body>

<script>
    includeHTML();
    changeLoginBtn();
    setItemDB();
</script>

</html>
