<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#ffffff">
    <title>SweetHome</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/detailview.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <script src="https://kit.fontawesome.com/cf795c31b2.js"
            crossorigin="anonymous"></script>
    <script src="../js/includeHTML.js"></script>
    <script src="../js/cookieSession.js"></script>
    <script src="../js/manageItem.js"></script>
    <script src="../js/render.js"></script>
</head>

<body>
<header>
    <div class="headerLogin">
        <ul>
            <li><a id ="registerBtn" href="register.html">회원가입</a></li>
            <li><a id ="loginBtn" href="login.html">로그인</a></li>
            <li><a id ="logoutBtn" onclick="logout()">로그아웃</a></li>
            <li><a id ="bagBtn" href="mybag.html">장바구니</a></li>
            <li><a id ="profileBtn" href="userProfile.html">내 정보</a></li>
            <li><a id="csBtn" href="CScenter.html">고객센터</a>
                <ul class="csBtn_sub">
                    <li><a href="CScenter.html">문의하기</a></li>
                    <li><a href="CSnotice.html">공지사항</a></li>
                    <li><a href="CSfaq.html">자주묻는질문</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="logo">
        <ul>
            <li><a href="index.html">SWEETHOME</a></li>
        </ul>
    </div>

    <div class="nav_menu">
        <ul>
            <li><a class="nav-menu" href="best_product.html">베스트</a></li>
            <li><a class="nav-menu" href="new_product.html">신상품</a></li>
            <li><a class="nav-menu" href="top_product.html">상의</a></li>
            <li><a class="nav-menu" href="bottom_product.html">하의</a></li>
            <li><a class="nav-menu" href="training_product.html">홈트용품</a></li>
        </ul>
    </div>
    </header>

<div id="contents">
    <div class="section1">
        <!-- sectionWrap 시작 -->
        <div id="sectionWrap">
            <!-- product section 시작 -->
            <section id="product" class="clearfix">
                <div class="product_img" id = "productThumb">
<!--                    <img src="../css/image/product1_1.jpg" width="500" height="750" alt="레깅스 상품 이미지">-->
                </div>

                <div class="product_tit" id = "productText">
<!--                    <h3>에어리 레깅스</h3>-->
<!--                    <p>가볍고 탄탄한 sweethome의 신작입니다.</p>-->
                </div>

                <div class="product_info" >
                    <table>
                        <tbody>
                        <tr id = "productTable">
                            <th>판매가</th>
<!--                            <td>20,000원</td>-->
                        </tr>
                        <tr>
                            <th>배송</th>
                            <td>택배(주문 시 결제)</td>
                        </tr>
                        <tr>
                            <th>상품정보</th>
                            <td>상세페이지 참조</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="product_value">
                    <div class="number" id="productPrice">
<!--                        <a href="#" class="minus"><i class="xi-minus-circle xi-2x"></i></a>-->
<!--                        <input type="number" min="1" value="1">-->
<!--                        <a href="#" class="plus"><i class="xi-plus-circle xi-2x"></i></a>-->
<!--                    </div>-->
<!--                    <p>총 상품금액 <span>20,000</span>원</p>-->
                    </div>
                </div>

                <div class="product_link">
                    <a href="#"><i class="xi-cart-o xi-x"></i> 장바구니</a>
                    <a href="#"><i class="xi-credit-card xi-x"></i> 구매하기</a>
                </div>
            </section>
            <!-- product section 끝 -->

            <!-- 상세이미지 -->
            <div class="tap_product" id = "productImages">
<!--                <img src="../css/image/product1_1.jpg" width="670" height="980" alt="제품 상세 설명 이미지">-->
<!--                <img src="../css/image/product1_2.jpg" width="670" height="980" alt="제품 상세 설명 이미지">-->
<!--                <img src="../css/image/product1_3.jpg" width="670" height="980" alt="제품 상세 설명 이미지">-->
            </div>
        </div>
        <!-- sectionWrap 끝 -->
    </div>
</div>
    <footer>
        <div>
            <span class = "company">회사명 : (주)SWEETHOME</span>
            <span class = "owner">최제현, 서언주, 박지영</span>
            <span class = "addr">오픈소스 웹 소프트웨어</span>
        </div>
    </footer>
</body>

<script>
    includeHTML();
    changeLoginBtn();
    setItemDB();
    renderDetail();
</script>


</html>
