<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-ico">
    <meta name="theme-color" content="#ffffff">
    <title>SweetHome</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/order_form.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="../js/includeHTML.js"></script>
    <script src="../js/cookieSession.js"></script>
    <script src="../js/bag.js"></script>
</head>

<body>
<header>
    <div class="headerLogin">
        <ul>
            <li><a id ="registerBtn" href="register.html">회원가입</a></li>
            <li><a id ="loginBtn" href="login.html">로그인</a></li>
            <li><a id ="logoutBtn" onclick="logout()">로그아웃</a></li>
            <li><a id ="bagBtn" href="mybag.html">장바구니</a></li>
            <li><a id ="profileBtn" href="userProfile.html">내 정보</a></li>
            <li><a id="csBtn" href="CScenter.html">고객센터</a>
                <ul class="csBtn_sub">
                    <li><a href="CScenter.html">문의하기</a></li>
                    <li><a href="CSnotice.html">공지사항</a></li>
                    <li><a href="CSfaq.html">자주묻는질문</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="logo">
        <ul>
            <li><a href="index.html">SWEETHOME</a></li>
        </ul>
    </div>

    <div class="nav_menu">
        <ul>
            <li><a class="nav-menu" href="best_product.html">베스트</a></li>
            <li><a class="nav-menu" href="new_product.html">신상품</a></li>
            <li><a class="nav-menu" href="top_product.html">상의</a></li>
            <li><a class="nav-menu" href="bottom_product.html">하의</a></li>
            <li><a class="nav-menu" href="training_product.html">홈트용품</a></li>
        </ul>
    </div>
</header>
<section id="contents">
    <h3>주문서 작성</h3>
        <form name="makeorder" id="makeorder" action="#">
            <div class="orderer_info">
                <div class="주문자명">주문자명</div>
                <div class="주문자 전화번호">전화번호</div>
            </div>

            <div class="address_info">
                <div class="수령인">수령인</div>
                <div class="수령인 전화번호">전화번호</div>
                <div class="배송지">배송지</div>
                <div class="배송메모">배송메모
                    <select class="delivery_memo" size="1" >
                        <option value="memo1">배송 전 미리 연락 바랍니다.</option>
                        <option value="memo1">부재 시 경비실에 맡겨주세요.</option>
                        <option value="memo1">부재 시 경비실에 맡겨주세요.</option>
                        <option value="memo1">무인택배함에 보관해주세요.</option>
                        <option value="memo1">문 앞에 놔주세요.</option>
                    </select>
                </div>

            </div>

            <div class="payment_info">
                <div class="결제방식">카드결제 계좌간편결제 무통장입금 휴대폰결제
                </div>
                <div class="주문금액">주문금액</div>
                <div class="상품금액">수령인</div>
                <div class="배송비">수령인</div>

            </div>
            <div>
                <button class="pay">주문

                </button>
                <button class="paycancel">취소

                </button>
            </div>
        </form>

</section>

<footer>
    <div>
        <span class = "company">회사명 : (주)SWEETHOME</span>
        <span class = "owner">최제현, 서언주, 박지영</span>
        <span class = "addr">오픈소스 웹 소프트웨어</span>
    </div>
</footer>

</body>

<script>
    includeHTML();
    changeLoginBtn();
</script>
<script src="../js/manageItem.js"></script>


</html>
